@model Secretaries
@using Microsoft.AspNetCore.Http;
@using WebSis.Models;

@{
    ViewData["Title"] = "Cadastro de Usuário";

    var userIdFK = @Context.Session.GetInt32("idUser");
}

<body class="p-2 ">

    <div class="col-md-12 col-lg-12 col-sm-12 secretary-register-container">

        <form id="sForm" name="sForm" class="user-form mt-3">

            <input id="sId" type="hidden" asp-for="@Model.Id">

            <h4 class="mb-3 text-center">Cadastrar Secretarias</h4>

            <span class="mb-0" id="msg-secretary"></span>

            <input placeholder="Nome da secretaria" id="sName" asp-for="@Model.Name" type="text" class="form-control mb-3">

            <input placeholder="Sigla da secretaria" id="sAcronym" asp-for="@Model.Acronym" type="text" class="form-control mb-3">

            <button class="btn btn-md btn-outline-primary btn-secretary mt-3 mb-3" id="btn-secretaryRegister" onclick="return ValidateSecretaryForm()" type="submit">Salvar <i
            class="bi bi-cloud-arrow-up"></i></button>

        </form>

    </div>

</body>