@model Secretaries
@using Microsoft.AspNetCore.Http;
@using WebSis.Models;

@{
    ViewData["Title"] = "Edição de Secretarias";
}
<!-- Partial View de Edição de Secretarias -->

<div class="p-2">

    <form method="post" asp-controller="Secretaries" asp-action="UpgradeSecretary" class="mt-3">

        <input name="Id" type="hidden" asp-for="@Model.Id">

        <input placeholder="Nome da secretaria" asp-for="@Model.Name" type="text" class="form-control mb-3" required>

        <input placeholder="Sigla da secretaria" asp-for="@Model.Acronym" type="text" class="form-control mb-3"
            required>

        <div class="modal-footer p-2">

            <a asp-action="ListOfRegisteredSecretaries" style="font-size: 20px;"
                class="btn btn-md btn-outline-secondary" title="Cancelar"><i class="bi bi-arrow-return-left"></i> </a>
            <button class="btn btn-md btn-outline-primary" style="font-size: 20px;" type="submit" title="Editar"><i
                    class="bi bi-pencil"></i> </button>

        </div>

    </form>

</div>

<!-- / Partial View de Edição de Secretarias -->