:root {
  --blackPrimary: #000;
  --shadowPrimary: rgba(0, 0, 0, 0.534) 5px 5px 10px;
  --blackPrimary: #000;
  --orangePrimary: #fe781f;
}

.main-login {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.header-login {
  display: flex;
  align-items: center;
  align-content: center;
}

.title-login {
  margin-left: -5%;
}

.login-body {
  background-image: url(../images/prefeitura-bg.jpg);
  background-repeat: repeat;
  background-size: contain;
  padding: 0%;
}

.login-container {
  background-image: url("../images/form-bg.jpg");
  box-shadow: var(--shadowPrimary);
  border-radius: 1em;
  margin-top: 5.5%;
  margin-bottom: 5.5%;
  margin-left: 18%;
  padding: 1%;
}

.login-form {
  border-radius: 30px;
}

.img-login {
  width: 10em;
  height: 6em;
}

.login-form h1 {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.login-title {
  text-align: center;
  font-size: 4em;
  font-weight: bold;
  font-family: "garamond";
  text-decoration: 3px underline var(--blackPrimary);
  text-shadow: rgba(0, 0, 0, 0.534) 5px 5px 5px;
  color: #000;
}

.login-title span {
  color: var(--orangePrimary);
}

.login-form h2 {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.btn-access {
  width: 140px;
}

.login-error {
  font-style: italic;
  margin-top: -5%;
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 990px) {
}

@media (max-width: 768px) {

  .title-login {
    margin-left: -8%;
    margin-top: 1%;
  }

  .login-container {
    margin-top: 18%;
    margin-left: 0%;
  }

  .login-form h1 {
    font-size: 1.3em;
    text-align: center;
  }

  .login-form h2 {
    font-size: 0.9em;
    text-align: center;
  }

  .img-login {
    width: 11.5em;
    height: 5em;
  }

  .btn-access {
    margin-bottom: 1%;
  }
  
}

@media (max-width: 576px) {

  .title-login {
    margin-left: -8%;
    margin-top: 1%;
  }

  .login-container {
    margin-top: 18%;
    margin-left: 0%;
  }

  .login-form h1 {
    font-size: 1.1em;
    text-align: center;
  }

  .login-form h2 {
    font-size: 0.83em;
    text-align: center;
  }

  .img-login {
    width: 10em;
    height: 4.2em;
  }

  .login-title {
    font-size: 3em;
    margin-bottom: -0.6em;
  }

  .btn-access {
    margin-bottom: 1%;
  }

}

@media (max-width: 360px) {

  .login-container input{
    font-size: 1em;
  }

  .select-login select, input{
    font-size: 1em;
  }

  .login-title {
    text-align: center;
    font-size: 2.3em;
    margin-bottom: -8%;
    font-weight: bold;
    font-family: "garamond";
    text-decoration: 3px underline var(--blackPrimary);
    text-shadow: rgba(0, 0, 0, 0.534) 5px 5px 5px;
    color: #000;
  }
  
  .login-title span {
    color: var(--orangePrimary);
  }

  .login-container {
    margin-top: 50%;
    padding: 0%;
  }

  .login-form h1 {
    margin-top: 8%;
    font-size: 0.7em;
    text-align: center;
  }

  .login-form h2 {
    font-size: 0.54em;
    text-align: center;
  }

  .img-login {
    margin-top: 3%;
    width: 7em;
    height: 3em;
  }

  .login-error {
    margin-top: -10%;
  }

  .btn-access {
    width: 10em;
    font-size: 0.8em;
    margin-bottom: 5%;
  }
  

  .input-login  .input-group{
    font-size: 0.93em;
    margin-bottom: 2%;

  }
}
