* {
  box-sizing: border-box;
}

:root {
  --shadowPrimary: rgba(0, 0, 0, 0.534) 5px 5px 10px;
  --blackPrimary: #000;
  --orangePrimary: #fe781f;
  --greyPrimary: #d9d9d9;
  --greySecondary: rgba(255, 255, 255, 0.645);
  --whitePrimary: #fff;
  --shadowSecondary: rgb(255, 255, 255) 3px 2px 3px;
}

.my-navbar {
  width: 100%;
}

.btn-home {
  width: 30%;
}

.line-div {
  background-color: rgba(255, 255, 255, 0.585);
}

.logo-login {
  margin-left: 40%;
}

.nav-menu {
  background-color: #007bffb7;
  box-shadow: #007bffba 5px 5px 5px;
  margin-top: 2%;
  border: 1px solid #fff;
}

.nav-menu a {
  color: #fff;
  font-size: 0.9em;
}

.navigation-bar ul {
  justify-content: center;
  align-content: center;
  color: #fff;
}

.exit-btn {
  margin-left: 2%;
  font-size: 1.5em;
  color: #fff;
}

.exit-btn:hover {
  cursor: pointer;
  text-shadow: var(--shadowSecondary);
  color: #fff;
  transition: ease-in-out 0.3s;
  transform: translateY(-3px);
}

.nav-menu a:hover {
  background-color: rgba(255, 255, 255, 0.725);
}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 990px) {}

@media (max-width: 768px) {
  .btn-home {
    width: 82%;
  }

  .btn-home {
    font-size: 1.3em;
  }

  .btn-home i {
    margin-right: 2em;
    font-size: 1.3em;
  }

  .link {
    background-color: rgba(255, 255, 255, 0.297);
    border-radius: 10px;
  }

  .menu a {
    font-size: 1em;
  }

  .logo-login {
    margin-left: 25%;
  }
}

@media (max-width: 576px) {
  .btn-home {
    width: 82%;
  }

  .btn-home {
    font-size: 1.3em;
  }

  .btn-home i {
    margin-right: 2em;
    font-size: 1.3em;
  }

  .link {
    background-color: rgba(255, 255, 255, 0.297);
    border-radius: 10px;
  }

  .menu a {
    font-size: 1em;
  }

  .logo-login {
    margin-left: 25%;
  }
}

@media (max-width: 286px) {

  .my-navbar {
    width: 21.5em;
  }

  .logo-login {
    width: 100%;
    font-size: 1.1em;
    margin-left: 0%;
  }

  .logo-login i {
    margin-right: 4%;
  }

  .btn-home {
    font-size: 0.85em;
    margin-left: -10%;
  }

  .click-menu {
    margin-right: 3%;
  }

  .navigation-bar li a {
    width: 96%;
    font-size: 0.9em;
  }

  .btn-home i {
    margin-left: 10%;
  }

  .footer a {
    font-size: 0.9em;
  }
}