:root {
    --blackPrimary: black;
    --bluePrimary: #007bff;
    --shadowPrimary: rgba(0, 0, 0, 0.534) 5px 5px 10px;
    --whitePrimary: #fff;
  }
  
  .container-TA {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    padding: 1.5%;
    margin-left: -1%;
    height: 90%;
    width: 100%;
  }

  .container-TA table {
    padding: 0%;
    height: 100%;
    width: 100%;
  }
  
  .table-TA tr > th:first-child,
  .table-TA tr > td:first-child,
  .table-TA tr > th:nth-child(4),
  .table-TA tr > td:nth-child(4),
  .table-TA tr > th:nth-child(6),
  .table-TA tr > td:nth-child(6),
  .table-TA tr > th:nth-child(8),
  .table-TA tr > td:nth-child(8),
  .table-TA tr > th:nth-child(10),
  .table-TA tr > td:nth-child(10),
  .table-TA tr > th:last-child,
  .table-TA tr > td:last-child {
    width: 0.5%;
    white-space: nowrap;
    text-align: center;
    margin-top: -20em;
  }

  .table-TA tr > th:nth-child(2),
  .table-TA tr > td:nth-child(2),
  .table-TA tr > th:nth-child(3),
  .table-TA tr > td:nth-child(3),
  .table-TA tr > th:nth-child(5),
  .table-TA tr > td:nth-child(5),
  .table-TA tr > th:nth-child(7),
  .table-TA tr > td:nth-child(7),
  .table-TA tr > th:nth-child(9),
  .table-TA tr > td:nth-child(9),
  .table-TA tr > th:nth-child(11),
  .table-TA tr > td:nth-child(11)
  .table-TA tr > th:nth-child(12),
  .table-TA tr > th:nth-child(12),
  .table-TA tr > th:nth-child(13),
  .table-TA tr > td:nth-child(13) {
    width: 1.5%;
    white-space: nowrap;
    text-align: center;
    margin-top: -20em;
  }

  .table-TA tr:hover {
    cursor: pointer;
  }

  .search-box {
    display: flex;
    flex-direction: row;
    margin-top: 4%;
    width: 25em;
  }

  .search {
    border-radius: 0%;
    width: 86%;
  }

  .search-group {
    width: 100%;
    box-shadow: var(--shadowPrimary);
  }

  .btn-searchUser {
    margin-left: 5px;
  }

  .alert-TA {
    margin-top: -25%;
  }
  
  @media (max-width: 1200px) {
  }
  
  @media (max-width: 992px) {
  }
  
  @media (max-width: 990px) {
  }
  
  @media (max-width: 768px) {
  }
  
  @media (max-width: 576px) {
  }
  