:root {
  --greyPrimary: #d9d9d9;
  --blackPrimary: #000;
  --greySecondary: rgba(255, 255, 255, 0.645);
  --whitePrimary: #fff;
  --shadowPrimary: rgba(0, 0, 0, 0.534) 5px 5px 10px;
  --shadowSecondary: rgba(255, 255, 255, 0.944) 3px 3px 5px;
}

.logo-page {
  font-size: 1.8em;
  margin-left: 32%;
}

.nav-menu {
  background-color: #007bffb7;
  box-shadow: #007bffa7 5px 5px 10px;
  border: 1px solid #fff;
}

.nav-menu a {
  color: #fff;
  font-size: 0.9em;
}

.navigation-bar ul {
  justify-content: center;
  align-items: center;
  align-content: center;
}

.exit-btn i{
  font-size: 1.5em
}

.exit-btn i:hover{
  text-shadow: var(--shadowSecondary);
  color: var(--whitePrimary);
}

.exit-btn a:hover{
  transition: ease-in-out 0.3s;
  transform: translateY(-3px);
}

.nav-menu a:hover {
  background-color: #fff;
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 990px) {
}

@media (max-width: 768px) {
  .logo-page {
    font-size: 1.5em;
    margin-left: 16%;
  }
}

@media (max-width: 576px) {
  .logo-page {
    font-size: 1.5em;
  }
}
