@model Users;

@{
    ViewData["Title"] = "Excluir Usuário";
}

<!-- Partial View de Exclusão de Usuário -->

<div>

    <form asp-action="DeleteUser" asp-controller="Users" method="post">

        <input type="hidden" asp-for="Id">

        <div class="p-2 text-justify">
            <span>Tem certeza que deseja excluir o Usuário <b>@Model.Name</b>? Essa ação excluirá a conta de forma
                permanente e não poderá ser desfeita.</span>
        </div>

        <div class="mt-2">

            <!-- Os botões excluir e cancelar ambos recebem a verificação de decisão para que seja controlado o retorno ao usuário -->
            <button class="btn btn-outline-danger btn-md" name="decision" type="submit" value="Delete"
                title="Excluir - @Model.Login"><i style="font-size: 20px;" class="bi bi-person-fill-x"></i></button>

            <button class="btn btn-outline-secondary btn-md" name="decision" type="submit" value="Cancel"
                title="Cancelar"><i style="font-size: 20px;" class="bi bi-arrow-return-left"></i></button>

        </div>

    </form>

</div>

<!-- / Partial View de Exclusão de Usuário -->